body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    animation: backgroundChange 30s infinite;
    animation-timing-function: steps(1, end);
  }

  @keyframes backgroundChange {
    0% { background-image: url(picture1.png); }
    25% { background-image: url(picture2.png); }
    50% { background-image: url(picture3.png); }
    75% { background-image: url(picture4.png); }
    100% { background-image: url(picture1.png); }
  }

  form {
    background-color: #d8d9e7;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
